body, html {
  margin: 0;
  height: 100%;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% viewport height */
  width: 100vw; /* 100% viewport width */
}

.item-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
